body {
  font-family: Arial;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

.login-box, .chat-box {
  width: 400px;
  margin: 50px auto;
  background: rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

/* تصميم الرسائل */
.messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: rgba(255,255,255,0.1);
  margin-bottom: 10px;
}

.own-message {
  color: #00ffcc;
  text-align: right;
}

.other-message {
  color: #ffff00;
  text-align: left;
}
